@font-face {
  font-family: "BarlowCondensed-Regular";   /*Can be any text*/
  src: local("BarlowCondensed-Regular"),
    url("./Fonts/BarlowCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "BarlowCondensed-Bold";   /*Can be any text*/
  src: local("BarlowCondensed-Bold"),
    url("./Fonts/BarlowCondensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Bellefair-Regular";   /*Can be any text*/
  src: local("Bellefair-Regular"),
    url("./Fonts/Bellefair-Regular.ttf") format("truetype");
}


body {
  margin: 0;
  overflow: hidden;
}

